@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


* {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

/* ========= FLOAT ANIMATIONS ========= */

@keyframes smoothFloat {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes smoothFloatX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

/* Apply Animation Classes */
.animate-float {
  animation: smoothFloat 4s ease-in-out infinite;
}

.animate-floatX {
  animation: smoothFloatX 4s ease-in-out infinite;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 6s linear infinite;
}
